<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : 1162409051680665, 
                cookie     : true,
                xfbml      : true,
                version    : 'v20.0'
            });
            FB.AppEvents.logPageView();
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="topNavBarHome">
        <a class="navbar-brand" href="#">Nursery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse mr-auto">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/catalog">Catalog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact.html">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/facebook">Facebook</a>
                </li>
            </ul>
            <span class="navbar-text" id="weather-info">
                Loading weather...
            </span>
            <% if (user) { %>
                <span class="navbar-text ml-auto">Welcome, <%= user.name %>!</span>
                <a href="/logout" class="btn btn-danger ml-3">Logout</a>
            <% } else { %>
                <span class="navbar-text ml-auto">Hello guest!</span>
                <a href="/login" class="btn btn-danger ml-3">Login</a>
            <% } %>
        </div>
    </nav>

<div class="container mt-4">
    <h1>Facebook Page Ads</h1>
    <div id="ads-container" class="row">

    </div>
</div>

<script src="https://connect.facebook.net/en_US/sdk.js"></script>
<script src="facebook.js"></script>

</body>
</html>
