<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card mt-5">
                        <div class="card-body">
                            <h3 class="card-title text-center">Login</h3>
                            <form action="/login" method="POST">
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input
                                        type="email"
                                        class="form-control"
                                        id="email"
                                        name="email"
                                        required
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input
                                        type="password"
                                        class="form-control"
                                        id="password"
                                        name="password"
                                        required
                                    />
                                </div>
                                <button
                                    type="submit"
                                    class="btn btn-primary btn-block"
                                >
                                    Login
                                </button>
                            </form>

                            <a href="/auth/facebook" class="btn btn-primary">Login with Facebook</a>
                            
                            <p class="text-center mt-3">
                                Don't have an account?
                                <a href="/signup">Sign up</a>
                            </p>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="snackbar"></div>

        <script>
            window.onload = () => {
                const urlParams = new URLSearchParams(window.location.search);
                const message = urlParams.get('message');
                
                if (message) {
                    showSnackbar(message, false);
                }
            };
        </script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="script.js"></script>
    </body>
</html>
