<!DOCTYPE html>
<html>
  <head>
    <title>Social Auth</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <!-- load bootstrap css -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- load fontawesome -->
    <style>
      body {
        padding-top: 70px;
      }
    </style>
    <link rel="stylesheet" href="google-maps.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="text-primary text-center">
          <span class="fa fa-user"></span> Profile Information
        </h1>
        <div class="row">
          <div class="col-sm-6">
            <div class="well">
              <div>
                <img src="<%= user.photos[0].value %>" alt="profile" />
              </div>
              <p>
                <strong>Id</strong>: <%= user.id %><br />
                <strong>Email</strong>: <%= user.emails[0].value %><br />
                <strong>Name</strong>: <%= user.displayName %>
              </p>
            </div>
            <div>
              <a href="/auth/google/signout" class="btn btn-danger"
                ><span class="fa fa-user"></span> Sign Out</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer mt-4 py-3 bg-light">
      <div class="container">
          <p class="text-center mb-0">© 2024 Your Company. All rights reserved.</p>
          <div class="map-container mt-3">
              <iframe 
                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAr8nacr00NVWLE8lGflhHvD-YHUMibLE4&q=Elie+Wiesel+2,+Rishon+Lezion,+Israel" 
                  allowfullscreen="" 
                  loading="lazy" 
                  referrerpolicy="no-referrer-when-downgrade">
              </iframe>
          </div>
      </div>
  </footer>
  </body>
</html>