body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    padding-top: 56px;
    margin: 0;
    background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url('https://images.unsplash.com/photo-1523348837708-15d4a09cfac2?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#topNavBarHome {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-family: 'Calibri';
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-family: 'Georgia', serif;
}

.aboutCard {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: rgba(180, 210, 186, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 30px auto;
    max-width: 1100px;
    text-align: center;
}

.aboutCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.founder-title {
    margin-top: 10px;
    text-align: center;
    font-size:20px;
    color: #fff;
    font-family: 'Georgia', serif;
}

.founders-name {
    text-align: center;
    font-size: 30px;
    color: rgb(13, 78, 56);
    font-family: 'Georgia', serif;
}

.card-text {
    margin-top: 30px;
    color: #fffefe;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
    height: 100%; 
    font-family: 'Georgia', serif;

    
}
