body{
    background-color: #D4EFDF
}
.adminBottoms{
    background-color:#008080;
    border-color: #008080;
}

.order-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}