.cart-body {
    background-color: rgb(173, 207, 168);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Calibri';

}
#topNavBarCart{
    font-family: 'Calibri';
    
}
.checkout-container {
    background-color: rgba(234, 243, 232, 0.846);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center; 

}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product-item {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 15px;
    text-align: center;
}
.productNameCart
{
    text-align: center;
    font-weight: bold;
}

.order-summary {
    border-top: 2px solid #e0e0e0;
    padding-top: 20px;
    text-align: right;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}