body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding-top: 56px;
    margin: 0;
    background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url('https://images.unsplash.com/photo-1523348837708-15d4a09cfac2?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#topNavBarHome {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-family: 'Calibri';
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contactContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: rgba(180, 210, 186, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 30px auto;
    max-width: 800px;
    text-align: center;
}

#contactContainer:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    color:rgb(13, 78, 56);
    font-family: 'Georgia', serif;
}
h2{
    margin-top: 5px;
    text-align: center;
    font-size: 34px;
    color:rgb(13, 78, 56);
    font-family: 'Georgia', serif;
}

h3{
    text-align: center;
    font-size: 25px;
    color:rgb(0, 0, 0);
    font-family: 'Georgia', serif;
}
.contact-details {
    font-size: 18px;
    color: #fff;
    font-family: 'Calibri', sans-serif;
}

.contact-form {
    display: grid;
    gap: 15px;
    margin-top: 20px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Calibri', sans-serif;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: rgb(34, 139, 34);
}

.contact-form button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(34, 139, 34);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Calibri', sans-serif;
}

.contact-form button:hover {
    background-color: rgb(24, 119, 24);
}
#contactContainer {
    position: relative;
    z-index: 1;
    padding: 20px;
    background: #f0f0f0;
    overflow: hidden;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#weather-info {
    margin-left: auto;
    font-size: 12px;
    padding: 0;
}

#weather-info p {
    margin: 0;
}