body{
    background-image: url('https://img.freepik.com/free-vector/botanical-frame-beige-background_53876-116816.jpg?t=st=1722257434~exp=1722261034~hmac=94fb08904f6817367613df4d4ad7153693892eef9759d441d36a987791a7a376&w=1380');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.LoginCard{
    margin-top: 45%;
    font-size: medium;

}
.facebook-button {
    margin-top: 20px;
    background-color: #3b5998; 
    border-color: #3b5998; 
    color: white; 
}

.facebook-button:hover {
    background-color: #2d4373; 
    border-color: #2d4373; 
}